#home {
    width: 46px;
    height: 44px;
}
footer{
	padding-top: 375px;
}
#btn_sup td{
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px Verdana;
	padding:6px 0 7px 0;
	box-shadow:1px 1px 3px #999;
	text-decoration: none;
	
}